<section data-parallax-background-ratio="0.5" style="background-image: url('assets/images/page-title.jpg');"
    class="background-position-center-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-center h-100 p-7 sm-p-0">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <p data-anime="{ 'translateY': [15, 0], 'opacity': [0,1], 'duration': 600, 'delay': 0, 'staggervalue': 300, 'easing': 'easeOutQuad' }"
                    class="m-auto text-white text-shadow-double-large fw-400 fs-50 sm-fs-40 sm-lh-50">
                    Expert Care for Polycystic Ovary Syndrome(PCOS) – Balanced Health, Better Living
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <h4 class="fs-30 text-base-color fw-900 mb-2">What is Tubal Block?</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Your fallopian tubes are delicate pathways that carry the egg from the ovary to the uterus. When
                    these tubes are blocked due to scarring, infection, or other conditions, the egg and sperm can't
                    meet — making it difficult to conceive naturally. It’s a silent condition, but with the right care,
                    it doesn’t have to be the end of your dream to become a parent.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">
                    How to Know if I Have a Tubal Block — A Real Conversation with Dr. Samundi Sankari
                </h4>
                <div class="chat p-20px ps-30px pe-30px xs-p-5px">
                    <div class="message patient border-radius-20px overflow-hidden p-10px xs-p-5px w-90 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble">
                            <strong class="text-base-color">Patient:</strong>
                            Doctor, I’ve been trying to get pregnant for two years. My periods are regular, but still no
                            success. Could something be blocking it?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/doctor.png" alt="" class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble">
                            <strong class="text-white">Dr. Samundi:</strong>
                            Sometimes, the reason lies in the fallopian tubes. They may be blocked, not allowing the egg
                            and sperm to meet. We usually check this through a simple imaging test called an HSG or with
                            laparoscopy. Don’t worry — it’s more common than you think, and we have ways to help.
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Patient :</strong>
                            Is it treatable?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-white">Dr. Samundi:</strong>
                            Absolutely. In many cases, we can clear the blocks through microsurgery. And in others, IVF
                            gives a beautiful chance for pregnancy. You’re not alone in this.
                        </div>
                    </div>
                </div>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Statistics of Tubal Blocks Among Indian Married Women</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Did you know? Over 20–25% of infertility cases among Indian women are linked to tubal blocks. Many
                    of these women had no symptoms — only discovering it when they began trying to conceive. This makes
                    timely diagnosis and gentle support all the more important.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Microsurgery That Opened the Door to Natural Pregnancy
                </h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    At Srushti, we've helped hundreds of women become mothers through tubal microsurgery. Using
                    precision techniques, we gently clear the blockages and restore the natural pathway for conception.
                    It's delicate work, but when a woman sees that double line on a pregnancy test after years of
                    waiting — it's worth every stitch.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Why IVF Was Chosen Instead of Surgery for Some</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    For some women, the damage to the tubes is too severe or the location of the block isn’t ideal for
                    surgery. In these cases, IVF gives a safer, faster route to pregnancy. It bypasses the fallopian
                    tubes altogether and brings the embryo directly into the womb — giving women the joy of motherhood
                    without delay.
                </p>
            </div>
            <div class="col-lg-4 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <div class="position-sticky top-80px lg-top-40px">
                    <app-service-menu-1></app-service-menu-1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Success Rates: Surgery vs. IVF
        </h2>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/1.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">
                            Microsurgery
                        </span>
                        <p>30–40% natural conception rate within a year, depending on the extent of the block and age of
                            the woman.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/2.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">
                            IVF with tubal block
                        </span>
                        <p>Success rate per cycle at Srushti is over 75% — one of the highest in India.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-0 mt-20px alt-font text-dark-gray text-center">Each case is different. Our goal is always the same:
            help you hold your baby in your arms.</p>
    </div>
</section>

<section class="pt-70 pb-70px">
    <div class="container">
        <div class="row align-items-center justify-content-center"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-12 col-md-8 col-lg-8">
                <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px">Frequently asked questions</h3>
                <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus"
                    data-inactive-icon="icon-feather-plus">
                    <div class="accordion-item active-accordion">
                        <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01"
                                aria-expanded="true" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-minus fs-20"></i><span class="fw-500">Do tubal blocks
                                        cause pain?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-01" class="accordion-collapse collapse show"
                            data-bs-parent="#accordion-style-02">
                            <div
                                class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                                <p class="w-90 sm-w-95 xs-w-100">
                                    Not always. Most women don’t feel any symptoms.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">How is it
                                        diagnosed?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-02" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div
                                class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                                <p class="w-90 sm-w-95 xs-w-100">Through HSG (X-ray test) or laparoscopy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can I still get
                                        pregnant naturally?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-03" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Yes, if only one tube is open or after successful
                                    surgery.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will I need IVF
                                        immediately?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-04" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Not always. We explore all options based on your
                                    condition.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is microsurgery
                                        painful?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">You It’s a minimally invasive procedure, with a short
                                    recovery time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is IVF safe for
                                        me?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Yes, IVF is a safe and proven option, especially for
                                    tubal factor infertility.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can a past
                                        infection cause tubal blocks?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Yes, infections like tuberculosis or STDs can cause
                                    scarring.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will age affect
                                        my chances?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Yes. The earlier we detect and treat, the better the
                                    success.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">How long does
                                        IVF take?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">About 2–3 weeks per cycle, including monitoring and
                                    embryo transfer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is this the end
                                        of natural pregnancy for me?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Not at all. Many women go on to conceive naturally
                                    after surgery, and others through IVF — both are beautiful journeys.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Real Success Stories from Srushti
        </h2>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
            <div class="col testimonials-style-01 md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Rekha</div>
                        <span class="fs-15">Age : 29 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Diagnosed with a single-sided tubal block. A minor laparoscopic procedure restored her
                        fertility, and she conceived naturally within 6 months.<br><br></span>
                </div>
            </div>
            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Bhavna</div>
                        <span class="fs-15">Age : 35 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Severe bilateral block due to undiagnosed pelvic infection. IVF was recommended, and she
                        delivered healthy twins after her first cycle.<br><br></span>
                </div>
            </div>
            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Nisha</div>
                        <span class="fs-15">Age : 32 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>History of ectopic pregnancy left her with damaged tubes. After emotional healing and
                        counseling, she chose IVF. Today, she celebrates her son’s third birthday.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70 pb-65px cover-background" style="background-image: url(assets/images/cta-bg.png);">
    <div class="container">
        <div class="row align-items-center justify-content-center position-relative top-30px">
            <div class="col-xl-10 text-center ">
                <div class="bg-white p-30px m-10px">
                    <p class="fs-30 fw-300 mb-20px text-black">
                        If you’ve been trying to conceive and feel unsure about what’s holding you back, let’s talk
                    </p>
                    <h3 class="text-dark-gray fs-40 mb-15px fw-500 ls-minus-1px">
                        At Srushti, we treat every woman with compassion, clarity, and confidence
                    </h3>
                    <p class="fs-18 mb-20px fw-300 fw-600 text-dark-gray">
                        Whether it's surgery or IVF, your path to motherhood begins with one simple step — reaching out.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center top-minus-40px position-relative mb-10px">
                <a href="mailto:care@srushtihospital.com"
                    class="btn btn-large p-15px md-p-20px btn-base-color btn-box-shadow btn-rounded w-100">
                    {{email}}
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center top-minus-40px position-relative ">
                <a href="tel:+91 850 850 1111"
                    class="btn btn-large p-15px  md-p-20px btn-base-color btn-box-shadow btn-rounded w-100">
                    +91 850 850 1111
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-70px pb-70px" style="background-color: #64420c;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <h1 class="fw-400 text-white mb-0 lh-70 sm-lh-40 fs-40 sm-fs-20 text-center ">
                    Book a consultation today with Dr. Samundi Sankari and her expert team. Your journey deserves expert
                    hands and a warm heart
                </h1>
            </div>
        </div>
    </div>
</section>