header.main-header {
    background-color: var(--white-color);
    position: relative;
    z-index: 100;

}

.navbar {
    padding: 0px !important;
}

.main-menu ul li a {
    color: var(--primary-color);
    font-size: 18px !important;
}

.main-header {
    padding: 0px 20px;
}

