<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- Logo Start -->
                <a class="navbar-brand" href="./">
                    <img src="assets/images/logo.png" alt="Logo"
                        style="height: 100px; padding: 10px; background-color: #fff;">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="about">Who We are?</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="javascript:void(0)">Fertility</a>
                                <ul class="sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="pcos">Intra-Uterine Insemination
                                            (IUI)</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Green IVF - Minimal Stimulation
                                            IVF</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">IVF-ICSI</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">IMSI</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Pre-Implantation Genetic
                                            Diagnosis (PGD)</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Preimplantation genetic
                                            screening (PGS)</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Blastocyst Transfer</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu"><a class="nav-link" href="javascript:void(0)">Gynaecology</a>
                                <ul class="sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="pcos">PCOS Management</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Reproductive Surgery for Tubal
                                            Blocks
                                        </a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Reproductive Surgery for
                                            Ovarian Cysts
                                        </a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Reproductive Surgery for
                                            Endometriosis </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Polyps Removal</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Reproductive Surgery for
                                            Chocolate Cysts</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Reproductive Surgery for
                                            Fibroids</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Reproductive Surgery for
                                            Bicornuate Uterus</a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Diagnostic Hysteroscopy - Gold
                                            Standard Procedure</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu"><a class="nav-link" href="javascript:void(0)">Maternity & Child
                                    Care</a>
                                <ul class="sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="pcos">High Risk Pregnancy Management
                                        </a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">Normal Delivery
                                        </a></li>
                                    <li class="nav-item"><a class="nav-link" href="pcos">LSCS Caeserian Delivery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="ivf-package">IVF Package</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="">Happy Clients</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="locations">Our Locations</a></li>
                            <li class="nav-item highlighted-menu"><a class="nav-link" href="appointment.html">book
                                    appointment</a></li>
                        </ul>
                    </div>
                    <div class="header-btn d-inline-flex">
                        <a href="appointment.html" class="btn-default">book appointment</a>
                    </div>
                </div>
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>