header .navbar-brand img {
    max-height: 100px;
}

.navbar .navbar-nav .dropdown.dropdown-with-icon-style02 .dropdown-menu {
    width: 370px;
    background: var(--base-color);
}

header.sticky.sticky-active [data-header-hover="light"] .icon>a,
header.sticky.sticky-active [data-header-hover="light"] .navbar-nav .nav-link {
    color: var(--dark-gray) !important;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        background: var(--base-color) !important;
    }

}