header.main-header {
    background-color: var(--white-color);
    position: relative;
    z-index: 100;

}

.navbar {
    padding: 0px !important;
}

.main-menu ul li a {
    color: var(--primary-color);
    font-size: 18px !important;
}

.main-header {
    padding: 0px 20px;
}

.main-menu ul ul li a{
    color: var(--white-color);
    border-bottom: 1px solid #ffffff14;
    font-size: 15px !important;
    font-weight: 400;
}

.main-menu ul ul li:last-child a {
    border-bottom: none;
}
