<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="about-footer">
                    <div class="footer-logo">
                        <img src="assets/images/logo.png" width="150px" alt="">
                    </div>
                    <div class="about-footer-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, veniam ullam perferendis
                            labore quo eum.</p>
                    </div>
                    <div class="footer-social-links">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="about-working-hour">
                    <h3>Location</h3>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp; Kotturpuram</a></li>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp; Ramapuram</a></li>
                        <li><a href="#"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp; Porur</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="about-service-list">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Who we are?</a></li>
                        <li><a href="#">About Founder</a></li>
                        <li><a href="#">Doctors</a></li>
                        <li><a href="#">IVF Packages</a></li>
                        <li><a href="#">Book an Appointment</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="footer-contact">
                    <h3>For Appointments</h3>
                    <div class="footer-contact-details">
                        <div class="footer-info-box">
                            <div class="footer-info-box-content">
                                <a href="tell:+91 850 850 1111"><i
                                        class="fa-solid fa-phone-volume text-white fs-2xl"></i>&nbsp;&nbsp;+91 850 850
                                    1111</a>
                            </div>
                        </div>
                        <div class="footer-info-box">
                            <div class="footer-info-box-content">
                                <a href="mailto:{{ email }}"><i
                                        class="fa-solid fa-envelope text-white"></i>&nbsp;&nbsp;{{ email
                                    }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="footer-copyright-text">
                        <p style="font-size: 18px;">Copyright 2024 Srushti Hospital. Designed and Developed by God
                            Particles.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-links">
                        <ul style="font-size: 18px">
                            <li><a href="#" style="font-size: 18px">Terms and Conditions</a></li>
                            <li><a href="#" style="font-size: 18px">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>