<footer class="pt-5 pb-5 bg-dark-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <a href="/" class="footer-logo mt-4 mb-4 d-block d-lg-inline-block">
                    <img src="assets/images/logo.png" alt="" data-no-retina="">
                </a>
                <p class="d-inline-block text-white fs-18">
                    At Srusti, we provide comprehensive fertility, gynecology, maternity, and childcare services,
                    ensuring compassionate and expert care for every stage of your journey to parenthood.
                </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <span class="alt-font d-block text-base-color mt-4 mb-4 fs-22">Quick Links</span>
                        <ul class="fs-18">
                            <li><a href="" class="text-white">Who we are?</a></li>
                            <li><a href="" class="text-white">About Founder</a></li>
                            <li><a href="" class="text-white">Doctors</a></li>
                            <li><a href="" class="text-white">IVF Packages</a></li>
                            <li><a href="" class="text-white">Book an Appointment</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <span class="alt-font d-block text-base-color mt-4 mb-4 fs-22">Location</span>
                        <ul class="fs-18">
                            <li><a href="" class="text-white">Kotturpuram</a></li>
                            <li><a href="" class="text-white">Ramapuram</a></li>
                            <li><a href="" class="text-white">Porur</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <span class="alt-font d-block text-base-color mt-4 mb-4 fs-22">Location</span>
                        <p class="mb-4 fs-18 text-white">Kotturpuram, Chennai, Tamil Nadu, India</p>
                        <div>
                            <i class="feather icon-feather-phone-call icon-very-small text-white me-10px"></i>
                            <a href="tell:+91 850 850 1111" class="text-white">+91 850 850 1111</a>
                        </div>
                        <div>
                            <i class="feather icon-feather-mail icon-very-small text-white me-10px"></i>
                            <a href="mailto:care@srushtihospital.com"
                                class="text-white text-decoration-line-bottom">{{email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
</div>