<app-page-banner [pagetitle]="pagetitle"></app-page-banner>
<div class="our-pricing bg-radius-section parallaxie" style="padding: 50px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-item highlighted-box wow fadeInUp" data-wow-delay="0.25s">
                            <div class="pricing-header">
                                <div class="pricing-title">
                                    <h3 class="text-white">Green IVF</h3>
                                </div>
                                <div class="pricing-tag">
                                    <h2 class="text-white">₹ 95,000 /-</h2>
                                </div>
                            </div>
                            <div class="pricing-body" style="">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">INCLUSIONS</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>All Consultations</li>
                                        <li>Follicular Monitoring</li>
                                        <li>Hormone Tests</li>
                                        <li>Ovum Pickup</li>
                                        <li>IVF-ICSI</li>
                                        <li>Embryo Transfer</li>
                                        <li>OT Charges & Consumables</li>
                                        <li>Specialist Charges</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">EXCLUSIONS</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>Embryo Freezing (1 year) - Rs.20,000</li>
                                        <li>Stimulation Protocol - Rs.30,000 to 40,000 Depending on each Individual
                                            Patient's requirements</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">SRUSHTI GREEN IVF ADVANTAGE</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>Assisted Hatching - Rs.10,000</li>
                                        <li>Blastocyst Transfer - Rs.10,000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-item highlighted-box wow fadeInUp" data-wow-delay="0.25s">
                            <div class="pricing-header">
                                <div class="pricing-title">
                                    <h3 class="text-white">Green IVF</h3>
                                </div>
                                <div class="pricing-tag">
                                    <h2 class="text-white">₹ 95,000 /-</h2>
                                </div>
                            </div>
                            <div class="pricing-body" style="">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">INCLUSIONS</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>All Consultations</li>
                                        <li>Follicular Monitoring</li>
                                        <li>Hormone Tests</li>
                                        <li>Ovum Pickup</li>
                                        <li>IVF-ICSI</li>
                                        <li>Embryo Transfer</li>
                                        <li>OT Charges & Consumables</li>
                                        <li>Specialist Charges</li>
                                        <li>Room Charges (Pickup & ET)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">EXCLUSIONS</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>Stimulation Protocol - Rs.40,000 to 60,000 Depends on each Individual
                                            Patient's requirements</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">SRUSHTI GREEN IVF ADVANTAGE</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>Assisted Hatching - Rs.10,000</li>
                                        <li>Blastocyst Transfer - Rs.10,000</li>
                                        <li>Embryo Freezing (6 months) - Rs.15,000</li>
                                        <li>Embryo Freezing (6 months) - Rs.15,000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-item highlighted-box wow fadeInUp" data-wow-delay="0.25s">
                            <div class="pricing-header">
                                <div class="pricing-title">
                                    <h3 class="text-white">Green IVF</h3>
                                </div>
                                <div class="pricing-tag">
                                    <h2 class="text-white">₹ 95,000 /-</h2>
                                </div>
                            </div>
                            <div class="pricing-body" style="">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">INCLUSIONS</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>All Consultations</li>
                                        <li>Follicular Monitoring</li>
                                        <li>Hormone Tests</li>
                                        <li>Ovum Pickup</li>
                                        <li>IVF-ICSI</li>
                                        <li>Embryo Transfer</li>
                                        <li>OT Charges & Consumables</li>
                                        <li>Specialist Charges</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">EXCLUSIONS</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>Embryo Freezing (1 year) - Rs.20,000</li>
                                        <li>Stimulation Protocol - Rs.30,000 to 40,000 Depending on each Individual
                                            Patient's requirements</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <div class="pricing-content">
                                    <h2 class="text-anime-style-2">SRUSHTI GREEN IVF ADVANTAGE</h2>
                                </div>
                                <div class="pricing-list">
                                    <ul>
                                        <li>Assisted Hatching - Rs.10,000</li>
                                        <li>Blastocyst Transfer - Rs.10,000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>