<section data-parallax-background-ratio="0.5"
    style="background-image: url('assets/images/page-title.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center h-400px">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <p data-anime="{ 'translateY': [15, 0], 'opacity': [0,1], 'duration': 600, 'delay': 0, 'staggervalue': 300, 'easing': 'easeOutQuad' }"
                    class="m-auto text-white text-shadow-double-large fw-400 fs-50 sm-fs-40 sm-lh-50">
                    Expert Care for Polycystic Ovary Syndrome(PCOS) – Balanced Health, Better Living
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <h4 class="fs-30 text-base-color fw-700 mb-2">What is PCOS?</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Polycystic Ovary Syndrome(PCOS) is a common hormonal condition affecting women of reproductive age.
                    It can cause irregular periods, excess male hormones (androgens) and multiple small cysts in the
                    ovaries. Often diagnosed in early adulthood, PCOS may impact fertility, metabolism, and overall
                    health but with the right care it can be managed effectively. </p>
                <h4 class="fs-30 text-base-color fw-700 mb-2">Real Talk: Planning Pregnancy with PCOS – A Conversation
                    That Matters</h4>
                <div class="chat">
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Patient (Ananya, 29 years old, IT Professional):</strong>
                            I’ve been married for three years now and we’ve been trying to conceive for a while… but my
                            periods have always been irregular, and now I’ve been diagnosed with PCOS...
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble docto text-dark-gray">
                            <strong class="text-dark-gray">Doctor (Dr. Divya Sivaraman):</strong>
                            Ananya, I hear you. And first, let me say this—you’re not alone...
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Patient (Ananya, 29 years old, IT Professional):</strong>
                            I’ve been married for three years now and we’ve been trying to conceive for a while… but my
                            periods have always been irregular, and now I’ve been diagnosed with PCOS. My job is hectic,
                            and between deadlines, back-to-back meetings, and the possibility of an onsite opportunity
                            coming up, I’m overwhelmed. I want to have a child—but I don’t know where to begin or how to
                            make this work with everything going on.
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-dark-gray">Doctor (Dr. Divya Sivaraman):</strong>
                            Ananya, I hear you. And first, let me say this—you’re not alone. PCOS, or Polycystic Ovary
                            Syndrome, affects nearly 1 in 5 women in India of reproductive age. Many young professionals
                            like you, who lead high-stress, high-paced lives, experience similar challenges. But the
                            good news? PCOS can absolutely be managed—and with proper guidance, pregnancy is very much
                            possible.
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Ananya:</strong>
                            That’s reassuring to hear… but how do I manage everything—my health, my career, and this
                            dream of becoming a mom?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-dark-gray">Dr. Divya:</strong>
                            We always begin with understanding your body and creating a plan that works with your life,
                            not against it. PCOS is a lifestyle-linked condition. The irregular periods, hormonal
                            imbalance, acne, weight fluctuations, even mood swings—they’re all connected. But small,
                            consistent changes in diet, exercise, stress management, and yes, timely medical support,
                            can make a huge difference.
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Ananya:</strong>
                            But will I need to take treatment for a long time? Will it affect my work or travel?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-dark-gray">Dr. Divya:</strong>
                            That depends on your individual case, but often, we can begin with non-invasive
                            treatments—and many women see changes in just a few months. If needed, mild fertility
                            assistance like ovulation support or tailored medication may be introduced. At Srushti, we
                            personalize your care so you’re not overwhelmed. And yes, we’ve seen many women like you
                            conceive naturally or with minimal support, even after years of trying.
                            <br><br>
                            In fact, with early diagnosis and support, up to 80% of women with PCOS conceive within a
                            year of starting appropriate treatment and lifestyle modification.
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Ananya:</strong>
                            That gives me hope. I was so scared I’d have to put my dreams on hold.
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-dark-gray">Dr. Divya:</strong>
                            You don’t have to choose between your career and motherhood. You just need a plan that
                            respects both. We’ll help you track your ovulation, support you with hormone balancing, and
                            most importantly—help you feel in control of your fertility journey. And when you’re ready
                            for that onsite project or promotion—you’ll feel confident knowing your body and your future
                            are being looked after.
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Ananya:</strong>
                            Thank you, Doctor. This feels like the first time someone really understood what I’m going
                            through.
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-70 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya" class="avatar w-80px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-dark-gray">Dr. Divya:</strong>
                            That’s what we’re here for. At Srushti, we don’t just treat PCOS—we support women through
                            every step of it, with care, compassion, and evidence-based solutions.
                        </div>
                    </div>
                </div>
                <div class="bg-yellow p-35px border-radius-6px mt-9">
                    <div class="row align-items-center justify-content-center justify-content-lg-start">
                        <div class="fs-18 lh-26 mb-15px w-90 sm-w-100 mx-auto mx-md-0 text-dark-gray">If you’re
                            experiencing PCOS and trying to plan your pregnancy,
                            <span class="fw-800">remember - </span> help is here, and you are not alone.
                        </div>
                        <span class="text-dark-gray fs-18">
                            Reach out to us for a personalized fertility consultation today
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <div class="position-sticky top-80px lg-top-40px">
                    <div class="bg-base-color border-radius-20px p-20px">
                        <h4 class="fs-30 text-white fw-700 mb-20px">Other Gynaecology Services</h4>
                        <ul class="p-0 m-0 list-style-01 text-white">
                            <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                    class="text-white">Reproductive Surgery for Tubal Blocks</a></li>
                            <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                    class="text-white">Reproductive Surgery for Ovarian Cysts</a></li>
                            <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                    class="text-white">Reproductive Surgery for Endometriosis</a></li>
                            <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                    class="text-white">Polyps Removal</a></li>
                            <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                                    class="text-white">Reproductive Surgery for Chocolate Cysts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-60 text-center mb-30px">
            Why Srushti Hospital<span class="text-base-color"> Health supplements?</span>
        </h2>
        <div class="row row-cols-2 row-cols-lg-4 row-cols-md-2 justify-content-center">
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px sm-p-10px border border-radius-20px" style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/1.png" class="w-80px text-base-color mb-25px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">Clinically proven<br>
                            ingredients</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px sm-p-10px border border-radius-20px" style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/2.png" class="w-80px text-base-color mb-25px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">Backed by science,
                            tailored for women</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px sm-p-10px border border-radius-20px" style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/3.png" class="w-80px text-base-color mb-25px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">Holistic approach to
                            long-term health</span>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px sm-p-10px border border-radius-20px" style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/4.png" class="w-80px text-base-color mb-25px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">Transparent and<br>
                            trustworthy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-70px pb-0 sm-pb-20px">
    <div class="container">
        <div class="row align-items-center w-80 sm-w-100">
            <h1 class="fw-400 text-dark-gray mb-0 lh-70 sm-lh-40 fs-40 sm-fs-20 text-start">
                Supporting women’s health with <strong>expert care</strong> in <strong>fertility, gynaecology, and
                    maternity.</strong>
            </h1>
            <h1 class="fw-400 text-dark-gray mb-0 lh-70 sm-lh-40 fs-40 sm-fs-20 text-start">
                Embrace your strength and flourish with confidence.
            </h1>
        </div>
    </div>
</section>
<section class="pt-0 pb-70px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <video controls>
                <source src="assets/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>
<section class="pt-70 pb-70px bg-beige">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 text-center text-xl-start lg-mb-30px sm-mb-20px">
                <h3 class="text-dark-gray mb-5px fw-500 ls-minus-1px">Start reversing PCOS today.</h3>
                <span class="fs-20 fw-300 text-dark-gray">
                    A happier, healthier you is a click away. Join the
                    Veera community now!
                </span>
            </div>
            <div class="col-xl-6 text-center text-xl-end">
                <a href="tel:+91 850 850 1111"
                    class="btn btn-extra-large btn-base-color left-icon btn-box-shadow btn-rounded d-inline-block align-middle xs-m-10px"><i
                        class="feather icon-feather-phone-call"></i>+91 850 850 1111</a>
            </div>
        </div>
    </div>
</section>
<section class="pt-70 pb-70px">
    <div class="container">
        <div class="row align-items-center justify-content-center"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-12 col-md-8 col-lg-8">
                <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px">Frequently asked questions</h3>
                <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus"
                    data-inactive-icon="icon-feather-plus">
                    <div class="accordion-item active-accordion">
                        <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01"
                                aria-expanded="true" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-minus fs-20"></i><span class="fw-500">How do I book an appointment with a specialist?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-01" class="accordion-collapse collapse show"
                            data-bs-parent="#accordion-style-02">
                            <div
                                class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                                <p class="w-90 sm-w-95 xs-w-100">You can book an appointment through our website, call our front desk, or visit the hospital in person. 
                                    Online booking is available 24/7 for your convenience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Are walk-in consultations allowed?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-02" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div
                                class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                                <p class="w-90 sm-w-95 xs-w-100">Yes, walk-ins are welcome, but we recommend booking in advance to reduce waiting time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">How will I receive my test results?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-03" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Test reports will be shared via email, WhatsApp, or can be collected in person from the lab. 
                                    You can also access them through our patient portal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can I cancel or reschedule my appointment or test?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-04" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">Yes, appointments and diagnostic tests can be cancelled or rescheduled. 
                                    Refunds (if applicable) will be processed as per our cancellation policy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header border-bottom border-color-transparent">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-02">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Where can I reach out for further questions or assistance?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-05" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                <p class="w-90 sm-w-95 xs-w-100">You can contact our helpdesk, email us or use the live chat feature on our
                                    website for instant support.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>