<section data-parallax-background-ratio="0.5" style="background-image: url('assets/images/page-title.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center h-400px">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <p data-anime="{ 'translateY': [15, 0], 'opacity': [0,1], 'duration': 600, 'delay': 0, 'staggervalue': 300, 'easing': 'easeOutQuad' }"
                    class="m-auto text-white text-shadow-double-large fw-400 fs-50 sm-fs-40 sm-lh-50">
                    Ovarian Cysts
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <h4 class="fs-30 text-base-color fw-900 mb-2">What Are Ovarian Cysts?</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Ovarian cysts are fluid-filled sacs that form on or inside the ovaries. Most are harmless and go
                    away on their own — but some can affect fertility or cause discomfort. Understanding them early can
                    save you years of confusion and worry. </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Real Talk: Problem with cyst – A Conversation
                    That Matters</h4>
                <div class="chat p-20px ps-30px pe-30px xs-p-5px">
                    <div class="message patient border-radius-20px overflow-hidden p-10px xs-p-5px w-90 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble">
                            <strong class="text-base-color">Patient (Ananya, 29 years old, IT Professional) :</strong>
                            Doctor, I was told I have a cyst in my ovary. Should I be scared?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/doctor.png" alt="" class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble">
                            <strong class="text-white">Doctor (Dr. Samundi) :</strong>
                            No, dear. Cysts are very common. Most women have them at some point. But we do keep an eye
                            on them. If they’re large or persistent, we’ll decide the best course — whether it’s
                            medication, monitoring, or removal.
                        </div>
                    </div>
                    <div class="message patient border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble patient text-dark-gray">
                            <strong class="text-base-color">Patient :</strong>
                            Will it affect my chances of becoming a mother?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/doctor.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble doctor text-dark-gray">
                            <strong class="text-white">Dr. Samundi: </strong>
                            Only some types do. And when they do, we’ll help you overcome it — you’re not alone.
                        </div>
                    </div>
                </div>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Stats in India</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Nearly 1 in 10 Indian women are found to have ovarian cysts during reproductive years. Most go unnoticed unless they
                    interfere with periods or fertility.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Treatment
                </h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    Some cysts shrink naturally. For others, we may prescribe hormonal treatment or gently remove them via laparoscopy —
                    preserving the ovary and protecting fertility.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">When IVF Helps</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    When cysts are multiple or hormonal (like in PCOS), or if they damage the ovary, IVF may be the better route. It gives
                    control over eggs and boosts pregnancy chances.
                </p>
            </div>
            <div class="col-lg-4 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <div class="position-sticky top-80px lg-top-40px">
                    <app-service-menu-1></app-service-menu-1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Success Rates:
        </h2>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/1.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">
                            Cyst removal + natural conception
                        </span>
                        <p>50% natural conception rate within a year, depending on the extent of the block and age of
                            the woman.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/2.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">
                            IVF after cyst-related infertility
                        </span>
                        <p>Success rate per cycle at Srushti is over 70% — one of the highest in India.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-0 mt-20px alt-font text-dark-gray text-center">Each case is different. Our goal is always the same:
            help you hold your baby in your arms.</p>
    </div>
</section>

<section class="pt-70 pb-70px">
    <div class="container">
                <div class="row align-items-center justify-content-center"
                    data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col-12 col-md-8 col-lg-8">
        <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px text-center mb-30px">Frequently Asked Questions About
            Ovarian Cysts</h3>
        <div class="accordion accordion-style-02" id="accordion-cyst-faq" data-active-icon="icon-feather-minus"
            data-inactive-icon="icon-feather-plus">

            <div class="accordion-item active-accordion">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-01" aria-expanded="true"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-minus fs-20"></i><span class="fw-500">Will all cysts need
                                surgery?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">No. Many cysts, especially functional ones, dissolve on their
                            own without any surgical treatment.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-02" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Do cysts always cause
                                symptoms?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-02" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Not always. Many cysts are silent and discovered only during
                            routine scans.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-03" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can cysts return?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-03" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Sometimes, yes. Recurrence depends on the type of cyst and
                            underlying hormonal conditions.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-04" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will I lose my
                                ovary?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-04" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Very rarely. Most cysts can be removed while preserving the
                            ovary.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-05" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is pregnancy possible
                                with cysts?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-05" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Yes, often. Many women conceive with cysts, especially if
                            they’re monitored and managed appropriately.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-06" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can cysts cause
                                cancer?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-06" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Very rarely. Most cysts are benign, but complex or persistent
                            ones may need evaluation to rule out malignancy.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-07" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What’s the pain
                                like?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-07" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">It varies — some feel a dull ache, others sharp or sudden pain,
                            especially if a cyst bursts or twists.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-08" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will it affect egg
                                count?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-08" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Only some cysts, like endometriomas, can affect ovarian
                            reserve. Most cysts do not impact egg count significantly.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-09" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is it linked to
                                PCOS?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-09" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Not always. PCOS is a hormonal condition involving multiple
                            small follicles, not the same as a single ovarian cyst.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#cyst-faq-10" aria-expanded="false"
                        data-bs-parent="#accordion-cyst-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can stress worsen
                                it?</span>
                        </div>
                    </a>
                </div>
                <div id="cyst-faq-10" class="accordion-collapse collapse" data-bs-parent="#accordion-cyst-faq">
                    <div
                        class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Indirectly, yes. Stress affects hormonal balance, which can
                            contribute to irregular cycles and possibly cyst formation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</section>


<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Real Success Stories from Srushti
        </h2>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
            <div class="col testimonials-style-01 md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Asha</div>
                        <span class="fs-15">Age : 31 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Diagnosed with a 7cm cyst during a routine fertility scan. She underwent a laparoscopic cystectomy and was back on her
                    feet in days. Three months later, she conceived naturally and now enjoys her evenings with a giggling 1-year-old.</span>
                </div>
            </div>
            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Kavitha</div>
                        <span class="fs-15">Age : 29 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Had recurring functional cysts that delayed her cycle and caused stress. With medication and lifestyle changes, her
                    cycles stabilized. IVF was later used, and her first cycle led to a successful pregnancy.</span>
                </div>
            </div>
            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Renu</div>
                        <span class="fs-15">Age : 35 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Her cyst was discovered during an investigation for PCOS. After managing her hormones and shrinking the cyst naturally,
                    she conceived without medical intervention in 6 months.</span>
                </div>
            </div>
            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Divya</div>
                        <span class="fs-15">Age : 33 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>She feared surgery but trusted our team. A keyhole procedure removed her endometriotic cyst while preserving ovarian
                    tissue. Today, she’s expecting twins after one IVF cycle.</span>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="pt-70 pb-65px cover-background" style="background-image: url(assets/images/cta-bg.png);">
    <div class="container">
        <div class="row align-items-center justify-content-center position-relative top-30px">
            <div class="col-xl-10 text-center ">
                <div class="bg-white p-30px m-10px">
                    <p class="fs-30 fw-300 mb-20px text-black">
                        If you’ve been trying to conceive and feel unsure about what’s holding you back, let’s talk
                    </p>
                    <h3 class="text-dark-gray fs-40 mb-15px fw-500 ls-minus-1px">
                        At Srushti, we treat every woman with compassion, clarity, and confidence
                    </h3>
                    <p class="fs-18 mb-20px fw-300 fw-600 text-dark-gray">
                        Whether it's surgery or IVF, your path to motherhood begins with one simple step — reaching out.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center top-minus-40px position-relative mb-10px">
                <a href="mailto:care@srushtihospital.com"
                    class="btn btn-large p-15px md-p-20px btn-base-color btn-box-shadow btn-rounded w-100">
                    {{email}}
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center top-minus-40px position-relative ">
                <a href="tel:+91 850 850 1111"
                    class="btn btn-large p-15px  md-p-20px btn-base-color btn-box-shadow btn-rounded w-100">
                    +91 850 850 1111
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-70px pb-70px" style="background-color: #64420c;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <h1 class="fw-400 text-white mb-0 lh-70 sm-lh-40 fs-40 sm-fs-20 text-center ">
                    Book a consultation today with Dr. Samundi Sankari and her expert team. Your journey deserves expert
                    hands and a warm heart
                </h1>
            </div>
        </div>
    </div>
</section>