<section class="pt-70px pb-70px xs-pt-40px xs-pb-40px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Why Choose Srushti ?
        </h2>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/1.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-base-color fw-500 fs-19 sm-fs-19 mb-10px">
                            30+ Years of Fertility Excellence
                        </span>
                        <p class="sm-fs-18 text-black">Trusted by 10,000+ mothers. From a 12-bed hospital to a global
                            name in fertility care.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/2.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-base-color fw-500 fs-19 sm-fs-19 mb-10px">
                            Personalised & Science-Backed Protocols
                        </span>
                        <p class="sm-fs-18 text-black">Every treatment is tailored to your unique fertility needs using
                            the latest advancements in
                            reproductive medicine.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/3.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span
                            class="d-inline-block alt-font text-base-color fw-500 fs-19 sm-fs-19 mb-10px">Compassionate,
                            Women-Led Care</span>
                        <p class="sm-fs-18 text-black">Led by Dr. Samundi Sankari & Dr. Divya Sivaraman, with a legacy
                            of empathy, expertise, and
                            results.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/4.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-base-color fw-500 fs-19 sm-fs-19 mb-10px">Global
                            Reach,
                            Homely Support</span>
                        <p class="sm-fs-18 text-black">Patients from across the world choose Srushti for our success
                            rates, comfort stay, and
                            supportive environment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px xs-pt-40px xs-pb-40px d-block d-sm-none">
    <div class="container">
        <div class="col-12"
            data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
            <div class="position-sticky top-80px lg-top-40px">
                <app-service-menu-1></app-service-menu-1>
            </div>
        </div>
    </div>
</section>