<section data-parallax-background-ratio="0.5" style="background-image: url('assets/images/page-title.jpg');"
    class="background-position-center-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-center h-100 p-7 sm-p-0">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <p data-anime="{ 'translateY': [15, 0], 'opacity': [0,1], 'duration': 600, 'delay': 0, 'staggervalue': 300, 'easing': 'easeOutQuad' }"
                    class="m-auto text-white text-shadow-double-large fw-400 fs-50 sm-fs-40 sm-lh-50">
                Bicornuate Uterus
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <h4 class="fs-30 text-base-color fw-900 mb-2">What Is a Bicornuate Uterus?</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    It’s a type of congenital uterine anomaly where the womb is heart-shaped or divided — instead of a single unified space.
                    Many women don’t even know they have it until they face miscarriages or difficulty conceiving.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">
                    A Real Conversation with Dr. Samundi Sankari
                </h4>
                <div class="chat p-20px ps-30px pe-30px xs-p-5px">
                    <div class="message patient border-radius-20px overflow-hidden p-10px xs-p-5px w-90 sm-w-100">
                        <img src="assets/images/patient.png" alt="Ananya"
                            class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble">
                            <strong class="text-base-color">Patient:</strong>
                            I was told my uterus is heart-shaped. Is that bad?
                        </div>
                    </div>
                    <div class="message doctor border-radius-20px overflow-hidden p-10px w-90 sm-w-100">
                        <img src="assets/images/doctor.png" alt="" class="avatar w-80px h-80px sm-h-60px sm-w-60px">
                        <div class="bubble">
                            <strong class="text-white">Dr. Samundi:</strong>
                            It’s called a bicornuate uterus. Many women with it carry full-term pregnancies. We’ll monitor your pregnancy closely
                            and offer support throughout.
                        </div>
                    </div>
                </div>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Stats in India</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                    This rare condition affects about 1 in 200 women. Most discover it during evaluations for repeated miscarriage or IVF
                    failure.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Treatment
                </h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                Mild cases need only close monitoring. In some, surgery (metroplasty) may be done to unify the uterine space —
                especially if recurrent pregnancy loss occurs.
                </p>
                <h4 class="fs-30 text-base-color fw-900 mb-2">Why IVF Sometimes Helps</h4>
                <p class="fs-18 text-dark-gray fw-400 mb-2">
                If natural conception isn’t working or miscarriage risk is high, IVF with close monitoring gives the best outcome.
                </p>
            </div>
            <div class="col-lg-4 xs-mb-4"
                data-anime='{"el":"childs","translateY":[50,0],"opacity":[0,1],"duration":1200,"delay":0,"staggervalue":150,"easing":"easeOutQuad"}'>
                <div class="position-sticky top-80px lg-top-40px">
                    <app-service-menu-1></app-service-menu-1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Success Rates: Surgery vs. IVF
        </h2>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/1.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">
                            Post-surgery natural conception
                        </span>
                        <p>~60–70% natural conception rate within a year, depending on the extent of the block and age
                            of the woman.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box p-20px border border-radius-20px d-block h-100"
                    style="background: rgba(255, 255, 255, 0.6)">
                    <div class="feature-box-icon">
                        <img src="assets/images/icons/2.png" class="w-80px h-80px mb-20px">
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-19 sm-fs-16 mb-10px">
                           IVF with bicornuate uterus
                        </span>
                        <p>Success rate per cycle at Srushti is upto ~50–65%, (depending on uterine shape and embryo implantation) —
                            one of the highest in India.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-0 mt-20px alt-font text-dark-gray text-center">Each case is different. Our goal is always the same:
            help you hold your baby in your arms.</p>
    </div>
</section>

<section class="pt-70 pb-70px">
    <div class="container">
                <div class="row align-items-center justify-content-center"
                    data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col-12 col-md-8 col-lg-8">
        <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px text-center mb-30px">Frequently Asked Questions About Bicornuate Uterus</h3>
        <div class="accordion accordion-style-02" id="accordion-bicornuate-faq" data-active-icon="icon-feather-minus"
            data-inactive-icon="icon-feather-plus">

            <div class="accordion-item active-accordion">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-01" aria-expanded="true" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-minus fs-20"></i><span class="fw-500">Can I get pregnant naturally?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Yes, many women with a bicornuate uterus conceive naturally and have healthy pregnancies.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-02" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will I need surgery?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-02" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Only in select cases — surgery is considered if there’s a history of recurrent miscarriages or poor pregnancy outcomes.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-03" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is it dangerous?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-03" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">With proper care and monitoring, a bicornuate uterus is manageable and not inherently dangerous.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-04" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can it cause miscarriage?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-04" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Yes, in some cases. Close follow-up with a fertility specialist or obstetrician is key for managing risks.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-05" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can I carry full-term?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-05" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">With medical support and regular monitoring, many women with a bicornuate uterus carry to full term successfully.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-06" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is IVF successful?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-06" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Yes. IVF can be successful in women with a bicornuate uterus, especially with careful embryo placement and follow-up.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-07" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can I have twins?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-07" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">It’s riskier due to limited space in the uterus. That’s why we often recommend transferring only one embryo during IVF.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-08" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will my baby be normal?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-08" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Absolutely. The uterine shape may affect pregnancy, but it does not affect your baby’s development or health.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-09" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can it be diagnosed early?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-09" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Yes. It can be identified through advanced imaging like a transvaginal ultrasound, 3D scan, or MRI.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#bicornuate-faq-10" aria-expanded="false" data-bs-parent="#accordion-bicornuate-faq">
                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                            <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can it be fixed permanently?</span>
                        </div>
                    </a>
                </div>
                <div id="bicornuate-faq-10" class="accordion-collapse collapse" data-bs-parent="#accordion-bicornuate-faq">
                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                        <p class="w-90 sm-w-95 xs-w-100">Surgical correction, like metroplasty, can help in select cases with recurrent loss or complications — but is not always necessary.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        </div>
    </div>
</section>




<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-50 text-center mb-30px">
            Case Studies: Bicornuate Uterus & Successful Pregnancies
        </h2>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">

            <div class="col testimonials-style-01 md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Sneha</div>
                        <span class="fs-15">Age : 30 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Diagnosed after two miscarriages. She had a minor uterine correction surgery. Nine months
                        later, she carried her baby boy to term with regular monitoring.</span>
                </div>
            </div>

            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Bhavya</div>
                        <span class="fs-15">Age : 27 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Her uterus was heart-shaped, but her spirit was strong. With no surgery, we closely monitored
                        her IVF pregnancy — she gave birth at 38 weeks to a healthy girl.</span>
                </div>
            </div>

            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Lavanya</div>
                        <span class="fs-15">Age : 33 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>After five years of trying, her MRI showed a bicornuate uterus. A metroplasty was performed,
                        and her uterus supported a full-term pregnancy a year later.</span>
                </div>
            </div>

            <div class="col testimonials-style-01 transition-inner-all md-mb-30px">
                <div class="mt-10px pt-20px pb-20px ps-15px pe-15px">
                    <img src="assets/images/patient.png" class="w-80px h-80px rounded-circle me-15px" alt="" />
                    <div class="d-inline-block align-middle lh-20">
                        <div class="fw-600 text-dark-gray fs-17 mb-5px">Anitha</div>
                        <span class="fs-15">Age : 35 Years old</span>
                    </div>
                </div>
                <div class="position-relative bg-white testimonial-arrow border-radius-10px p-10px">
                    <span>Was told by others she could “never carry a baby.” She came to us, and with reassurance and
                        care, conceived with IVF. Her daughter just celebrated her first birthday.</span>
                </div>
            </div>

        </div>
    </div>
</section>





<section class="pt-70 pb-65px cover-background" style="background-image: url(assets/images/cta-bg.png);">
    <div class="container">
        <div class="row align-items-center justify-content-center position-relative top-30px">
            <div class="col-xl-10 text-center ">
                <div class="bg-white p-30px m-10px">
                    <p class="fs-30 fw-300 mb-20px text-black">
                        If you’ve been trying to conceive and feel unsure about what’s holding you back, let’s talk
                    </p>
                    <h3 class="text-dark-gray fs-40 mb-15px fw-500 ls-minus-1px">
                        At Srushti, we treat every woman with compassion, clarity, and confidence
                    </h3>
                    <p class="fs-18 mb-20px fw-300 fw-600 text-dark-gray">
                        Whether it's surgery or IVF, your path to motherhood begins with one simple step — reaching out.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center top-minus-40px position-relative mb-10px">
                <a href="mailto:care@srushtihospital.com"
                    class="btn btn-large p-15px md-p-20px btn-base-color btn-box-shadow btn-rounded w-100">
                    {{email}}
                </a>
            </div>
            <div class="col-12 col-lg-4 text-center top-minus-40px position-relative ">
                <a href="tel:+91 850 850 1111"
                    class="btn btn-large p-15px  md-p-20px btn-base-color btn-box-shadow btn-rounded w-100">
                    +91 850 850 1111
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-70px pb-70px" style="background-color: #64420c;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <h1 class="fw-400 text-white mb-0 lh-70 sm-lh-40 fs-40 sm-fs-20 text-center ">
                    Book a consultation today with Dr. Samundi Sankari and her expert team. Your journey deserves expert
                    hands and a warm heart
                </h1>
            </div>
        </div>
    </div>
</section>