<section class="p-0 bg-dark-gray">
    <div data-slider-options='{
        "slidesPerView": 1,
        "loop": true,
        "parallax": true,
        "speed": 1000,
        "pagination": { "el": ".swiper-pagination-bullets", "clickable": true },
        "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" },
        "autoplay": { "delay": 4000, "disableOnInteraction": false },
        "keyboard": { "enabled": true, "onlyInViewport": true },
        "effect": "slide"
      }'
        class="swiper lg-parallax full-screen md-h-600px sm-h-650px swiper-light-pagination swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide overflow-hidden swiper-slide-next">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500"
                    style="background-image: url('assets/images/banner.jpg'); transform: translate3d(500px, 0px, 0px); transition-duration: 0ms;">
                    <div class="opacity-light bg-gradient-sherpa-blue-black"></div>
                    <div class="container h-100" data-swiper-parallax="-500"
                        style="transform: translate3d(-500px, 0px, 0px); transition-duration: 0ms;">
                        <div class="row align-items-end h-100">
                            <div class="mb-4 border-radius-20px col-xl-7 col-lg-8 col-md-10 col-12 position-relative overflow-hidden text-white text-center text-md-start p-20px anime-child anime-complete"
                                style="background-color: rgba(255, 255, 255, 0.463);">
                                <h1 class="alt-font fs-50 text-shadow-double-large ls-minus-2px text-dark-gray">We
                                    respect every <span class="text-base-color">woman's</span> dream to <span
                                        class="text-base-color">mother</span> a baby</h1>
                                <a href="#" class="btn btn-very-small btn-transparent-white-light btn-rounded">Book
                                    Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <!-- <div class="swiper-slide overflow-hidden swiper-slide-prev" role="group" aria-label="2 / 3"
                style="width: 1455px;">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500"
                    style="background-image: url('assets/images/sliders/banner-2.jpg'); transform: translate3d(500px, 0px, 0px); transition-duration: 0ms;">
                    <div class="opacity-light bg-gradient-sherpa-blue-black"></div>
                    <div class="container h-100" data-swiper-parallax="-500"
                        style="transform: translate3d(-500px, 0px, 0px); transition-duration: 0ms;">
                        <div class="row align-items-center h-100">
                            <div
                                class="col-xl-7 col-lg-8 col-md-10 position-relative text-white text-center text-md-start anime-child anime-complete">
                                <h1 class="alt-font w-90 xl-w-100 text-shadow-double-large ls-minus-2px">Shape the
                                    future of <span class="fw-600">marketing.</span></h1>
                                <a href="index.html" target="_blank"
                                    class="btn btn-extra-large btn-rounded with-rounded btn-base-color btn-box-shadow box-shadow-extra-large mt-20px sm-mt-0">Get
                                    started now <span class="bg-white text-base-color"><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Slide 3 -->
            <!-- <div class="swiper-slide overflow-hidden swiper-slide-visible swiper-slide-fully-visible swiper-slide-active"
                role="group" aria-label="3 / 3" style="width: 1455px;">
                <div class="cover-background position-absolute top-0 start-0 w-100 h-100" data-swiper-parallax="500"
                    style="background-image: url('assets/images/sliders/banner-5.jpg'); transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="opacity-light bg-gradient-sherpa-blue-black"></div>
                    <div class="container h-100" data-swiper-parallax="-500"
                        style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                        <div class="row align-items-center h-100">
                            <div
                                class="col-xl-7 col-lg-8 col-md-10 position-relative text-white text-center text-md-start anime-child anime-complete">
                                <h1 class="alt-font w-90 xl-w-100 text-shadow-double-large ls-minus-2px">Provide
                                    solutions to <span class="fw-600">small business.</span></h1>
                                <a href="index.html" target="_blank"
                                    class="btn btn-extra-large btn-rounded with-rounded btn-base-color btn-box-shadow box-shadow-extra-large mt-20px sm-mt-0">Get
                                    started now <span class="bg-white text-base-color"><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- Pagination -->
        <div
            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                aria-label="Go to slide 3" aria-current="true"></span>
        </div>

        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</section>

<section class="pt-70px pb-70px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6 position-relative d-none d-sm-block">
                <div class="w-75 shadow-in" data-animation-delay="200" data-shadow-animation="true"
                    data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                    <img src="assets/images/home/about-1.png" alt="Srushti Hospital Exterior"
                        class="border-radius-6px w-100" data-no-retina>
                </div>
                <div class="w-55 overflow-hidden position-absolute right-15px bottom-minus-50px shadow-in"
                    data-shadow-animation="true" data-animation-delay="100"
                    data-bottom-top="transform: translateY(-20px)" data-top-bottom="transform: translateY(20px)">
                    <img src="assets/images/home/about-2.png" alt="Smiling Parents with Baby"
                        class="border-radius-6px box-shadow-quadruple-large w-100" data-no-retina>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 position-relative appear anime-complete"
                data-anime='{"opacity":[0,1], "duration":600, "delay":100, "staggervalue":150, "easing":"easeOutQuad"}'>
                <span class="fs-18 fw-600 text-dark-gray d-flex align-items-center">About Srushti hospital</span>
                <h2 class="fw-800 text-dark-gray fs-60 mb-4">
                    <span class="text-base-color">Babies </span>are proof that miracles happen.
                </h2>
                <p class="fs-18 text-black mb-4">
                    Every couple dreams of creating its own miracle, an adorable bundle of joy. Many a times though, the
                    journey to parenthood can be difficult. At Srushti, we understand how important the desire to have a
                    baby is. Since 1993, we have been successfully helping couples work through their fertility issues
                    to finally realise their dream of becoming parents.
                    It is our mission to provide you with assistance every step of the way with the most advanced
                    services in fertility treatment. The serene atmosphere at Srushti coupled with our extremely
                    supportive staff will make your experience memorable.
                </p>
                <div class="xs-m-10px m-10px">
                    <div class="row bg-beige p-20px align-items-center text-start text-sm-center">
                        <div class="col-sm-auto xs-mb-10px">
                            <h2 class="alt-font text-dark-gray mb-0 d-inline-block align-middle me-10px fw-800">30+</h2>
                            <p class="m-0 fs-18 text-dark-gray fw-600">years' Expertise</p>
                        </div>
                        <div
                            class="col-sm border-start border-2 border-color-dark-gray ps-25px ms-10px xl-ps-20px xs-border-start-0 xs-ps-15px xs-pe-15px xs-m-0">
                            <p class="m-0 lh-24 text-dark-gray fw-600">
                                GCR Ranking No.21 globally <br>
                                GCR Ranking No.1 in Chennai.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-sm-center text-start mt-40px xs-mt-30px">
                    <a href="about"
                        class="btn btn-medium btn-switch-text btn-dark-gray btn-round-edge me-15px xs-me-5px"
                        aria-label="Read more about us">
                        <span>
                            <span class="btn-double-text" data-text="About us">About us</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-30px pb-30px bg-base-color">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-4 row-cols-md-2 counter-style-04 appear anime-child anime-complete"
            data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col">
                <div class="text-center bg-beige xs-m-5px xs-p-10px m-20px p-40px border-radius-20px">
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mb-0" data-text="+"
                        data-to="30000"></h2>
                    <span class="mt-4 fs-24 text-base-color w-400 d-block mb-5px text-dark-gray">Babies
                        Delivered.</span>
                </div>
            </div>
            <div class="col">
                <div class="text-center bg-beige xs-m-5px xs-p-10px m-20px p-40px border-radius-20px">
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mb-0" data-text="+"
                        data-to="30"></h2>
                    <span
                        class="mt-4 fs-24 text-base-color w-400 d-block mb-5px text-dark-gray">years'<br>Expertise</span>
                </div>
            </div>
            <div class="col">
                <div class="text-center bg-beige xs-m-5px xs-p-10px m-20px p-40px border-radius-20px">
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mb-0" data-text="%"
                        data-to="95"></h2>
                    <span class="mt-4 fs-24 text-base-color w-400 d-block mb-5px text-dark-gray">Success<br>rate</span>
                </div>
            </div>
            <div class="col">
                <div class="text-center bg-beige xs-m-5px xs-p-10px m-20px p-40px border-radius-20px">
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mb-0" data-text="+"
                        data-to="55"></h2>
                    <span class="mt-4 fs-24 text-base-color w-400 d-block mb-5px text-dark-gray">Countries
                        Patients.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-60 text-center mb-4">
            Leading Fertility Care in <span class="text-base-color">Chennai</span>
        </h2>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6 position-relative">
                <div id="accordion-style-03" data-active-icon="fa-angle-down" data-inactive-icon="fa-angle-right"
                    class="accordion accordion-style-03">
                    <div class="accordion-item" style="background-color: var(--dark-gray);">
                        <div class="accordion-header">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-03-01"
                                aria-expanded="true" data-bs-parent="#accordion-style-03">
                                <div class="accordion-title position-relative mb-0 pe-25px">
                                    <span class="text-white fw-500 fs-18 alt-font">Fertility</span>
                                    <i class="fa-solid fa-angle-down icon-small text-white"></i>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-03-01" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-03">
                            <div class="accordion-body last-paragraph-no-margin">
                                <p class="text-white fs-18">
                                    We are providing the advanced fertility treatments to support your journey toward
                                    parenthood and a brighter future. Our expert team is committed to helping you
                                    achieve your dreams with personalized care.
                                </p>
                                <ul class="fs-18 p-20px list-style-01 fw-500">
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Intra-Uterine Insemination (IUI)</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Green IVF - Minimal Stimulation IVF</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">IVF-ICSI</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">IMSI</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Pre-Implantation Genetic Diagnosis (PGD)</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Preimplantation genetic screening (PGS)</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Blastocyst Transfer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="background-color: var(--dark-gray);">
                        <div class="accordion-header">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-03-02"
                                aria-expanded="false" data-bs-parent="#accordion-style-03">
                                <div class="accordion-title position-relative mb-0 pe-25px">
                                    <span class="text-white fw-500 alt-font fs-18">Gynaecology</span>
                                    <i class="fa-solid fa-angle-right icon-small text-white"></i>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-03-02" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-03">
                            <div class="accordion-body last-paragraph-no-margin">
                                <p class="text-white fs-18">
                                    We offer a comprehensive range of gynaecological treatments and advanced
                                    reproductive surgeries to address various women’s health concerns. Our focus is on
                                    effective treatment and compassionate care to help you.
                                </p>
                                <ul class="p-20px fs-18 list-style-01 fw-500">
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">PCOS Management</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Reproductive Surgery for Tubal Blocks</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Reproductive Surgery for Ovarian Cysts</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Reproductive Surgery for Endometriosis</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Reproductive Surgery for Chocolate Cysts</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Reproductive Surgery for Fibroids</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Reproductive Surgery for Bicornuate Uterus</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Diagnostic Hysteroscopy - Gold Standard Procedure</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="background-color: var(--dark-gray);">
                        <div class="accordion-header">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-03-03"
                                aria-expanded="false" data-bs-parent="#accordion-style-03">
                                <div class="accordion-title position-relative mb-0 pe-25px">
                                    <span class="text-white fw-500 alt-font fs-18">Maternity and Child Care</span>
                                    <i class="fa-solid fa-angle-right icon-small text-white"></i>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-03-03" class="accordion-collapse collapse"
                            data-bs-parent="#accordion-style-03">
                            <div class="accordion-body last-paragraph-no-margin">
                                <p class="text-white fs-18">
                                    We provide complete maternity and child care services to ensure a safe and joyful
                                    journey from pregnancy to parenthood. Our experienced team is here to support you
                                    every step of the way.
                                </p>
                                <ul class="fs-18 p-20px list-style-01 fw-500">
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">High Risk Pregnancy Management</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">Normal Delivery</a></li>
                                    <li class="border-color-transparent-light pt-10px pb-10px text-white"><a
                                            href="#">LSCS Caeserian Delivery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 position-relative">
                <div data-animation-delay="200" data-shadow-animation="true" class="shadow-in">
                    <img src="assets/images/home/maternity-child-care.png" alt="Maternity and Child Care"
                        class="border-radius-6px w-100" data-no-retina="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px">
    <div class="container">
        <div class="row align-items-center flex-column-reverse flex-lg-row text-start overflow-hidden">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-11">
                <img src="assets/images/home/founder.png" alt=""
                    data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
                    class="w-100 border-radius-20px appear anime-complete" data-no-retina="">
            </div>
            <div data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'
                class="col-xl-6 col-lg-6 col-md-6 col-sm-11 appear anime-child anime-complete">
                <span class="fs-17 d-inline-block fw-500 text-uppercase text-base-color ls-1px mb-15px">Our
                    FOUNDER</span>
                <h2 class="fw-800 text-dark-gray fs-60 mb-4">
                    The Woman <span class="text-base-color">Behind the Miracles</span>
                </h2>
                <span class="fs-22 text-dark-gray d-block">
                    <span class="fw-600">Dr. S.Samundi Sankari - </span>MD, DGO, DA, DOL, FICOG
                </span>
                <span class="fs-22 text-dark-gray d-block mb-4">
                    Founder & Chief Consultant
                </span>
                <p class="fs-18 text-black">
                    Dr. Samundi Sankari, a renowned fertility expert with over 35 years of experience, has received
                    prestigious accolades such as the Dronacharya Award and Lifetime Achievement Award by the Indian
                    Society of Assisted Reproduction in 2023 and recognition as the "Best Distinguishing Physician" by
                    Orlando’s Association of Medical Graduates in 2001. She is the Chairperson of Srushti Group, a
                    leading fertility chain, and a skilled micro-surgeon who has held esteemed positions, including
                    Professor of Microsurgery and Head of Infertility Clinics.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <div class="row align-items-center flex-column-reverse flex-lg-row text-start overflow-hidden">
            <div data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'
                class="col-xl-12 col-lg-12 col-md-12 col-sm-11 appear anime-child anime-complete">
                <p class="fs-18 text-black">
                    As Founder & Managing Trustee of Srushti Medical Research Foundation, Dr. Sankari actively supports
                    causes like infertility, cancer, AIDS, and maternal health through affordable treatment and medical
                    camps. A member of ASRM and ESHRE, she stays at the forefront of global advancements in assisted
                    reproduction and genetics. Her achievements, including a WHO Fellowship in 1985, reflect her
                    dedication to medical excellence and compassionate care.
                </p>
                <p class="fs-18 text-black">
                    Has undertaken extensive training in Reproductive Medicine in World Renowned centers
                </p>
                <ul class="list-style-01 fw-500 fs-18">
                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                        Baylor College of Medicine, Houston Texas in 1989
                    </li>
                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                        Positive attitude and a great massaUniversity of Keil in 1990 ge
                    </li>
                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                        Sydney IVF in 1997
                    </li>
                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                        FICOG (Federation of Obstetric and Gynaecological Societies of India) in 2013
                    </li>
                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                        No. of OPUs and ET done: 25000+
                    </li>
                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                        Performs: Hysteroscopy, Laparoscopy, Microsurgery & Reproductive Surgery, Artificial
                        Reproductive Techniques
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="pt-70px pb-70px">
    <div class="container">
        <div class="row align-items-center flex-column-reverse flex-lg-row text-start overflow-hidden">
            <div data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'
                class="col-xl-6 col-lg-6 col-md-6 col-sm-11 appear anime-child anime-complete">
                <span class="fs-17 d-inline-block fw-500 text-uppercase text-base-color ls-1px mb-15px">
                    About Medical Director
                </span>
                <span class="fs-22 text-dark-gray d-block">
                    <span class="fw-600">Dr Divya Sivaraman</span>
                </span>
                <p class="fs-22 text-dark-gray d-block mb-4">
                    Medical Director
                </p>
                <p class="fs-18 text-black">
                    For over 20 years, Srushti has been a trusted fertility center in Chennai, led by IVF pioneer Dr. S.
                    Samundi Sankari. As Founder and Medical Director, she also leads the Srushti Medical Research
                    Foundation, tackling infertility and women's health issues. Dr. Sankari has helped countless couples
                    achieve parenthood and is globally recognized, earning several honors, including the Best
                    Distinguishing Physician award in 2001.
                </p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-11">
                <img src="assets/images/home/medical-director.png" alt="Medical Director"
                    class="w-100 border-radius-20px mt-10px mb-10px appear anime-complete"
                    data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'
                    data-no-retina>
            </div>
        </div>
    </div>
</section>
<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-60 text-center mb-4">
            Meet our <span class="text-base-color">Doctors</span>
        </h2>
        <div class="row align-items-center">
            <div class="col-12 position-relative appear anime-complete"
                data-anime='{ "translateX": [100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                <div class="swiper slider-three-slide swiper-initialized swiper-horizontal swiper-backface-hidden"
                    data-slider-options='{ 
              "slidesPerView": 1,
              "spaceBetween": 30,
              "loopedSlides": true,
              "pagination": { 
                "el": ".slider-four-slide-pagination-2", 
                "clickable": true, 
                "dynamicBullets": false 
              }, 
              "autoplay": { 
                "delay": 3000, 
                "disableOnInteraction": false 
              }, 
              "keyboard": { 
                "enabled": true, 
                "onlyInViewport": true 
              }, 
              "breakpoints": { 
                "1200": { "slidesPerView": 4 }, 
                "992": { "slidesPerView": 3 }, 
                "768": { "slidesPerView": 2 } 
              }, 
              "effect": "slide" 
            }'>
                    <div class="swiper-wrapper pt-30px pb-30px" aria-live="off">
                        <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px swiper-slide-active"
                            role="group" aria-label="1 / 4" style="width: 275px; margin-right: 30px;">
                            <figure class="mb-0 hover-box box-hover position-relative" style="padding-bottom: 124px;">
                                <img src="assets/images/home/2.jpg" alt="" class="w-100">
                                <figcaption class="w-100 p-30px lg-p-20px bg-white">
                                    <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                        <span class="fs-22 d-block fw-600 text-dark-gray">Dr.Priya Prabhakar</span>
                                        <p class="gs-18 m-0">25 years experience</p>
                                    </div>
                                    <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px">
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px swiper-slide-next"
                            role="group" aria-label="2 / 4" style="width: 275px; margin-right: 30px;">
                            <figure class="mb-0 hover-box box-hover position-relative" style="padding-bottom: 124px;">
                                <img src="assets/images/home/2.jpg" alt="" class="w-100">
                                <figcaption class="w-100 p-30px lg-p-20px bg-white">
                                    <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                        <span class="fs-22 d-block fw-600 text-dark-gray">Dr.Priya Prabhakar</span>
                                        <p class="gs-18 m-0">25 years experience</p>
                                    </div>
                                    <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px">
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px swiper-slide-next"
                            role="group" aria-label="2 / 4" style="width: 275px; margin-right: 30px;">
                            <figure class="mb-0 hover-box box-hover position-relative" style="padding-bottom: 124px;">
                                <img src="assets/images/home/2.jpg" alt="" class="w-100">
                                <figcaption class="w-100 p-30px lg-p-20px bg-white">
                                    <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                        <span class="fs-22 d-block fw-600 text-dark-gray">Dr.Priya Prabhakar</span>
                                        <p class="gs-18 m-0">25 years experience</p>
                                    </div>
                                    <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px">
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px swiper-slide-next"
                            role="group" aria-label="2 / 4" style="width: 275px; margin-right: 30px;">
                            <figure class="mb-0 hover-box box-hover position-relative" style="padding-bottom: 124px;">
                                <img src="assets/images/home/2.jpg" alt="" class="w-100">
                                <figcaption class="w-100 p-30px lg-p-20px bg-white">
                                    <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                        <span class="fs-22 d-block fw-600 text-dark-gray">Dr.Priya Prabhakar</span>
                                        <p class="gs-18 m-0">25 years experience</p>
                                    </div>
                                    <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px">
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px swiper-slide-next"
                            role="group" aria-label="2 / 4" style="width: 275px; margin-right: 30px;">
                            <figure class="mb-0 hover-box box-hover position-relative" style="padding-bottom: 124px;">
                                <img src="assets/images/home/2.jpg" alt="" class="w-100">
                                <figcaption class="w-100 p-30px lg-p-20px bg-white">
                                    <div class="position-relative z-index-1 overflow-hidden lg-pb-5px">
                                        <span class="fs-22 d-block fw-600 text-dark-gray">Dr.Priya Prabhakar</span>
                                        <p class="gs-18 m-0">25 years experience</p>
                                    </div>
                                    <div class="box-overlay bg-white box-shadow-quadruple-large border-radius-6px">
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-60 text-center mb-4 text-center">
            Srushti <span class="text-base-color">The Right Choice</span>
        </h2>
        <div data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;perspective&quot;: [1200,1200], &quot;translateY&quot;: [30, 0], &quot;scale&quot;: [1.05, 1], &quot;rotateX&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
            class="row justify-content-center appear anime-child anime-complete">
            <div class="col-lg-6 col-md-8 fancy-text-box-style-02 mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle h-100 bg-dark-gray hover-box dark-hover border-radius-6px p-15px box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                    <div class="feature-box-icon p-10px mw-0px">
                        <img alt="" width="50px" src="assets/images/icons/1.png" data-no-retina="">
                    </div>
                    <div class="p-10px feature-box-content border-start border-color-extra-medium-gray">
                        <span class="text-white fw-600 fs-22 xs-fs-18">Customized Fertility Care &amp; Counselling
                        </span>
                        <p class="text-light-opacity fs-18">Personalized treatments with free counseling before, during,
                            and after your journey.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 fancy-text-box-style-02 mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle h-100 bg-dark-gray hover-box dark-hover border-radius-6px p-15px box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                    <div class="feature-box-icon p-10px mw-0px">
                        <img alt="" width="50px" src="assets/images/icons/2.png" data-no-retina="">
                    </div>
                    <div class="p-10px feature-box-content border-start border-color-extra-medium-gray">
                        <span class="text-white fw-600 fs-22 xs-fs-18">Advanced Reproductive &amp; Genetic Techniques
                        </span>
                        <p class="text-light-opacity fs-18">Expert reproductive surgeries with pre-implantation
                            screening to ensure healthy embryos.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 fancy-text-box-style-02 mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle h-100 bg-dark-gray hover-box dark-hover border-radius-6px p-15px box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                    <div class="feature-box-icon p-10px mw-0px">
                        <img alt="" width="50px" src="assets/images/icons/3.png" data-no-retina="">
                    </div>
                    <div class="p-10px feature-box-content border-start border-color-extra-medium-gray">
                        <span class="text-white fw-600 fs-22 xs-fs-18">Special Program for Azoospermia </span>
                        <p class="text-light-opacity fs-18">Focused on egg quality and offering Micro-TESE for
                            specialized azoospermia treatment</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 fancy-text-box-style-02 mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle h-100 bg-dark-gray hover-box dark-hover border-radius-6px p-15px box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                    <div class="feature-box-icon p-10px mw-0px">
                        <img alt="" width="50px" src="assets/images/icons/4.png" data-no-retina="">
                    </div>
                    <div class="p-10px feature-box-content border-start border-color-extra-medium-gray">
                        <span class="text-white fw-600 fs-22 xs-fs-18">Trusted for Over 20 Years </span>
                        <p class="text-light-opacity fs-18">Over two decades of experience with a 62% success rate in
                            assisted reproductive techniques, delivering over 3,000 babies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 fancy-text-box-style-02 mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle h-100 bg-dark-gray hover-box dark-hover border-radius-6px p-15px box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                    <div class="feature-box-icon p-10px mw-0px">
                        <img alt="" width="50px" src="assets/images/icons/5.png" data-no-retina="">
                    </div>
                    <div class="p-10px feature-box-content border-start border-color-extra-medium-gray">
                        <span class="text-white fw-600 fs-22 xs-fs-18">State-of-the-Art IVF Lab </span>
                        <p class="text-light-opacity fs-18">A cutting-edge IVF lab that ensures ideal embryo development
                            and a highly successful cryopreservation program.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 fancy-text-box-style-02 mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle h-100 bg-dark-gray hover-box dark-hover border-radius-6px p-15px box-shadow-extra-large box-shadow-extra-large-hover overflow-hidden">
                    <div class="feature-box-icon p-10px mw-0px">
                        <img alt="" width="50px" src="assets/images/icons/6.png" data-no-retina="">
                    </div>
                    <div class="p-10px feature-box-content border-start border-color-extra-medium-gray">
                        <span class="text-white fw-600 fs-22 xs-fs-18">Experienced Team &amp; Continuous Development
                        </span>
                        <p class="text-light-opacity fs-18">A highly trained team staying ahead with the latest
                            fertility treatments and diagnostics.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-70px pb-70px bg-beige">
    <div class="container">
        <h2 class="fw-800 text-dark-gray fs-60 text-center mb-4 text-center">
            Areas of <span class="text-base-color">Specialization</span>
        </h2>
        <div class="row lign-items-center">
            <div class="col-12 position-relative">
                <div class="col-12 position-relative appear anime-complete"
                    data-anime='{ "translateX": [100, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    <div class="swiper"
                        data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 4000, "disableOnInteraction": false },  "pagination": { "el": ".slider-four-slide-pagination", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1400": { "slidesPerView": 3 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper pt-30px pb-30px">
                            <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px">
                                <div
                                    class="box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                                    <img alt="" src="assets/images/home/1.png">
                                    <div class="bg-white">
                                        <div class="p-20px text-center progress-bar-style-01">
                                            <p class="d-inline-block fs-22 fw-600 text-dark-gray mb-4">Assisted
                                                Reproductive
                                                Techniques</p>
                                            <p class="d-inline-block fs-18 fw-400 text-dark-gray mb-4">Laparoscopy |
                                                Hysteroscopy | Myomectomy | Conservative Surgery</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px">
                                <div
                                    class="box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                                    <img alt="" src="assets/images/home/2.png">
                                    <div class="bg-white">
                                        <div class="p-20px text-center progress-bar-style-01">
                                            <p class="d-inline-block fs-22 fw-600 text-dark-gray mb-4">Reproductive
                                                Surgeries</p>
                                            <p class="d-inline-block fs-18 fw-400 text-dark-gray mb-4">Egg Freezing |
                                                Embryo
                                                Freezing | Sperm Freezing</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px">
                                <div
                                    class="box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                                    <img alt="" src="assets/images/home/3.png">
                                    <div class="bg-white">
                                        <div class="p-20px text-center progress-bar-style-01">
                                            <p class="d-inline-block fs-22 fw-600 text-dark-gray mb-4">Genetics &
                                                Preservation</p>
                                            <p class="d-inline-block fs-18 fw-400 text-dark-gray mb-4">IVF | Genetic
                                                Screening <br> Fertility Preservation</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px">
                                <div
                                    class="box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                                    <img alt="" src="assets/images/home/4.png">
                                    <div class="bg-white">
                                        <div class="p-20px text-center progress-bar-style-01">
                                            <p class="d-inline-block fs-22 fw-600 text-dark-gray mb-4">Maternity &
                                                Childcare
                                            </p>
                                            <p class="d-inline-block fs-18 fw-400 text-dark-gray mb-4">Stress Relief |
                                                Hormonal Balance | Fertility Enhancement</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide review-style-04 text-center team-style-01 md-mb-30px">
                                <div
                                    class="box-shadow-quadruple-large box-shadow-quadruple-large-hover services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                                    <img alt="" src="assets/images/home/5.png">
                                    <div class="bg-white">
                                        <div class="p-20px text-center progress-bar-style-01">
                                            <p class="d-inline-block fs-22 fw-600 text-dark-gray mb-4">Aesthetics</p>
                                            <p class="d-inline-block fs-18 fw-400 text-dark-gray mb-4">IVF Failure
                                                Solutions
                                                | PCOS Management | Azoospermia Treatment</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>