<div class="service-sidebar">
    <div class="service-catagery-list wow fadeInUp">
        <h3>Other Fertility services</h3>
        <ul>
            <li><a href="pcos">Fertility Consultations</a></li>
            <li><a href="pcos">Ovulation Induction</a></li>
            <li><a href="pcos">In Vitro Fertilization (IVF)</a></li>
            <li><a href="pcos">Intrauterine Insemination (IUI)</a> </li>
        </ul>
    </div>
    <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.5s">
        <div class="icon-box">
            <img src="assets/images/icons/clock.png" alt="" width="80px">
        </div>
        <div class="cta-content">
            <h3>Ready to Begin Your Journey to Parenthood and Wellness? </h3>
        </div>
        <div class="cta-appointment-btn">
            <a href="" class="btn-default">book appointment</a>
        </div>
    </div>
</div>