<app-page-banner [pagetitle]="pagetitle"></app-page-banner>
<div class="page-service-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-single-content">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Understanding PCOS – You're Not Alone</h3>
                        <h2 class="text-anime-style-2 capitalize" data-cursor="-opaque"><span>Expert Care</span> for a
                            Healthier
                            Tomorrow</h2>
                    </div>
                    <div class="service-entry">
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Polycystic Ovary Syndrome (PCOS) affects 1 in 10
                            women of reproductive age. At Srushti, we offer personalized care for managing PCOS, helping
                            you regain control over your health and fertility
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Polycystic Ovary Syndrome (PCOS) is a common
                            hormonal disorder affecting women of reproductive age, characterized by an excess production
                            of androgens (male hormones). This imbalance leads to symptoms such as irregular menstrual
                            cycles, infertility, acne, weight gain, and excessive hair growth.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">A significant concern with PCOS is its impact on
                            fertility, as it often causes anovulation, where eggs are not released, accounting for
                            around 70% of infertility cases linked to this condition. Additionally, women with PCOS are
                            at a higher risk of developing health issues, with a 50% increased likelihood of developing
                            type 2 diabetes before age 40 due to insulin resistance. Managing PCOS is crucial to
                            minimize these long-term health risks.
                        </p>
                    </div>
                    <div class="service-featured-img">
                        <figure class="">
                            <img src="https://dummyimage.com/800x400/FFC0CB/aaa" alt="">
                        </figure>
                    </div>
                    <div class="service-entry">
                        <h3 class="wow fadeInUp">Holistic & Individualized PCOS Treatment</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">At Srushti, we believe in a comprehensive approach
                            to managing PCOS.Our personalized treatment plans focus on lifestyle modifications, weight
                            management, and medication options such as Clomiphene for ovulation.
                        </p>
                        <blockquote class="quote-block wow fadeInUp" data-wow-delay="0.5s">
                            <p style=" margin-bottom: 0px; font-size: 28px; ">"We don’t just treat PCOS; we empower
                                women to lead healthier lives." – Dr. Divya
                                Sivaraman</p>
                        </blockquote>
                        <ul class="wow fadeInUp" data-wow-delay="1s">
                            <li>Personalized Treatment Plans </li>
                            <li>Lifestyle Modifications </li>
                            <li>Fertility Support</li>
                        </ul>
                    </div>
                    <div class="why-choose-us"
                        style="background: #fcdbe6; background-size: cover; margin: 20px 0px;">
                        <div class="container">
                            <div class="row section-row">
                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2 class="text-anime-style-2" data-cursor="-opaque"><span>Key Symptoms</span> and
                                            Risk Factor</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 order-1">
                                    <div class="why-choose-box-1-2">
                                        <div class="why-choose-item-2 wow fadeInUp">
                                            <div class="why-choose-content-2">
                                                <h3>experienced doctor</h3>
                                                <p>The goal of our clinic is to provide friendly,
                                                    caring dentistry and
                                                    the.</p>
                                            </div>
                                        </div>
                                        <div class="why-choose-item-2 wow fadeInUp">
                                            <div class="why-choose-content-2">
                                                <h3>experienced doctor</h3>
                                                <p>The goal of our clinic is to provide friendly, caring dentistry and
                                                    the.</p>

                                            </div>
                                        </div>
                                        <div class="why-choose-item-2 wow fadeInUp">
                                            <div class="why-choose-content-2">
                                                <h3>experienced doctor</h3>
                                                <p>The goal of our clinic is to provide friendly, caring dentistry and
                                                    the.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 order-lg-1 order-md-2 order-1" style="margin: auto;">
                                    <div class="why-choose-image-2 wow fadeInUp">
                                        <figure>
                                            <img src="assets/images/why.png" style="border-radius: 200px;background-color: var(--primary-color);" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 order-lg-2 order-md-1 order-2">
                                    <div class="why-choose-box-2-2">
                                        <div class="why-choose-item-2 wow fadeInUp">
                                            <div class="why-choose-content-2">
                                                <h3>emergency services</h3>
                                                <p>The goal of our clinic is to provide friendly, caring dentistry and
                                                    the.</p>

                                            </div>
                                        </div>
                                        <div class="why-choose-item-2 wow fadeInUp">
                                            <div class="why-choose-content-2">
                                                <h3>emergency services</h3>
                                                <p>The goal of our clinic is to provide friendly, caring dentistry and
                                                    the.</p>

                                            </div>
                                        </div>
                                        <div class="why-choose-item-2 wow fadeInUp">
                                            <div class="why-choose-content-2">
                                                <h3>emergency services</h3>
                                                <p>The goal of our clinic is to provide friendly, caring dentistry and
                                                    the.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-entry">
                        <div class="section-title">
                            <h2 class="text-anime-style-3" data-cursor="-opaque">A Step by Step Guide</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">The goal of our clinic is to provide
                                friendly, caring dentistry and the highest level of general, cosmetic, and
                                specialist dental treatments. With dental practices throughout the world.</p>
                        </div>
                        <div class="our-process-list wow fadeInUp" data-wow-delay="0.25s">
                            <div class="our-process-item">
                                <div class="icon-box">
                                    <figure>
                                        <img src="assets/images/icon1.png" alt="">
                                    </figure>
                                </div>
                                <div class="process-item-content">
                                    <h3>Diet & Exercise:</h3>
                                    <p>Maintaining a healthy weight can improve insulin sensitivity,
                                        increasing the
                                        chances of conception.</p>
                                </div>
                            </div>
                            <div class="our-process-item">
                                <div class="icon-box">
                                    <figure>
                                        <img src="assets/images/icon2.png" alt="">
                                    </figure>
                                </div>
                                <div class="process-item-content">
                                    <h3>Mental Health</h3>
                                    <p> Managing stress and anxiety is crucial for those with PCOS. Join
                                        support
                                        groups and stay connected.</p>
                                </div>
                            </div>
                            <div class="our-process-item">
                                <div class="icon-box">
                                    <figure>
                                        <img src="assets/images/icon3.png" alt="">
                                    </figure>
                                </div>
                                <div class="process-item-content">
                                    <h3>Regular Monitoring:</h3>
                                    <p>Periodically check insulin levels and monitor heart health to
                                        prevent
                                        long-term complications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-sidebar">
                    <div class="service-catagery-list wow fadeInUp">
                        <h3>Other Fertility services</h3>
                        <ul>
                            <li><a href="#">Lorem, ipsum.</a></li>
                            <li><a href="#">Lorem, ipsum.</a></li>
                            <li><a href="#">Lorem, ipsum.</a></li>
                            <li><a href="#">Lorem, ipsum.</a></li>
                            <li><a href="#">Lorem, ipsum.</a></li>
                            <li><a href="#">Lorem, ipsum.</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon-box">
                            <img src="images/icon-cta.svg" alt="">
                        </div>

                        <div class="cta-content">
                            <h3>Ready to Start Your Journey to Recovery?</h3>
                            <p>Contact us today to schedule your initial consultation and take the first step towards a
                                pain-free life.</p>
                        </div>
                        <!-- Cta Content End -->

                        <!-- Cta Appointment Button Start -->
                        <div class="cta-appointment-btn">
                            <a href="" class="btn-default">book appointment</a>
                        </div>
                        <!-- Cta Appointment Button End -->
                    </div>
                    <!-- Sidebar Cta Box End -->
                </div>
                <!-- Service Sidebar End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Service Single End -->

<div class="parallaxie"
    style="background-image: url(assets/images/about/section-bg.jpg); padding: 50px 0px;background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h3 class="wow fadeInUp">Case Studies</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque"><span>What</span> Our Client Say</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="testimonial-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-header">
                                        <div class="testimonial-content">
                                            <p>We understand that injuries and acute pain can happen unexpectedly. Our
                                                emergency physiotherapy services are designed to provide prompt.</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-body">
                                        <div class="author-content">
                                            <h3>johan duo</h3>
                                            <p>professional athlete</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>