.page-header {
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 220px 0;
    margin-top: -100px;
    background-position-y: -100px !important;
    background-color: white;
}

.bg-radius-section {
    position: relative;
    border-radius: 50px;
    margin: 20px;
}

.page-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black-color);
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}