<div class="page-header about-page-header bg-radius-section parallaxie"
    style="background-image: url(https://img.freepik.com/premium-photo/precious-bond-captured-newborn-feet-cradled-loving-mothers-hands_918839-19720.jpg?w=1380); ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" style="color: #fff;">{{ pagetitle }}</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb" style="color: #fff;">
                            <li class="breadcrumb-item"><a href="home" style="color: #fff;">home</a></li>&nbsp; /
                            <li class="breadcrumb-item active" style="color: #fff;">{{ pagetitle }}</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>