<div class="page-header about-page-header bg-radius-section parallaxie"
    style="background-image: url(assets/images/page-banner.jpg); ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">{{ pagetitle }}</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="home">home</a></li>&nbsp; /
                            <li class="breadcrumb-item active" aria-current="page">{{ pagetitle }}</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>