<div class="bg-base-color border-radius-20px p-20px">
    <h4 class="fs-30 text-white fw-900 mb-20px">Other Gynaecology Services</h4>
    <ul class="p-0 m-0 list-style-01 text-white">
        <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                class="text-white">Reproductive Surgery for Tubal Blocks</a></li>
        <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                class="text-white">Reproductive Surgery for Ovarian Cysts</a></li>
        <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                class="text-white">Reproductive Surgery for Endometriosis</a></li>
        <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                class="text-white">Polyps Removal</a></li>
        <li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="#"
                class="text-white">Reproductive Surgery for Chocolate Cysts</a></li>
    </ul>
</div>