<div class="bg-base-color border-radius-20px p-20px">
	<h4 class="fs-30 text-white fw-900 mb-20px">Other Gynaecology Services</h4>
	<ul class="p-0 m-0 list-style-01 text-white">
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="pcos"
				class="text-white">PCOS Management</a></li>
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="tubal-blocks"
				class="text-white">Tubal Blocks</a></li>
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="endometriosis"
				class="text-white">Endometriosis</a></li>
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="uterine-polyps"
				class="text-white">Uterine Polyps</a></li>
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="uterine-fibroids"
				class="text-white">Uterine Fibroids</a></li>
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="bicornuate-uterus"
				class="text-white">Bicornuate Uterus</a></li>
		<li class="pb-10px ms-20px mb-20px border-bottom border-color-transparent-dark"><a href="ovarian-cysts"
				class="text-white">Ovarian Cysts</a></li>
	</ul>
</div>